<h1>Editing Prediction</h1>
<br>
<%= render 'form', prediction: @prediction %>
<br>
<%= link_to 'Show', @prediction, class:"btn btn-warning" %>
<%= link_to 'Back', predictions_path, class:"btn btn-warning" %>
