<div class="jumbotron">
  <h2 class="display-4"><%= @prediction.prediction %></h2>
  <br>
  <p class="lead"><%= @prediction.name %></p>
<br>
<br>
<%= link_to 'Edit', edit_prediction_path(@prediction), class:"btn btn-warning" %> 
<%= link_to 'Back', predictions_path, class:"btn btn-warning" %>
</div>



