<h1>About Predict 2021</h1>
<br>
<p> Earlier in the week, my friend Jude and I were talking about 2021 and what was to come. So much about 2020 was 'unprecedented', surely 2021 will be more predictable?
We joked about setting up a facebook thread on new years eve where friends could leave their predictions for 2021 and then, when it pops up as a memory one year later, we can look back on it and have a laugh about whose predictions were the most accurate.
But then I thought, why give that to Facebook? Why not put some of my new software skills to practice and make my own webpage?<p>
<p> So, here it is - My very first webpage! Yes, it is super simple and the design could use some work but I'm only at the start of my web development journey. And, it'll be nice to look back at this at the end of the year and see how far I've come.</p>
<p> Go on... sign up, leave a prediction and hope to see you in person in 2021! </p>
<p> CHEERS! </p>