<h1>About Predict2021</h1>
<p> This is my first rails webpage, deployed on new years day 2021 </p>
<p> It is a place for my friends to log their predictions for 2021 and at the end of year we will come together and reflect on the year that was. </p>